*.o
*.lo
*.so
*.db
*.la
*.pc
*.gch
*.log
.deps
.libs
*.tar.gz
*.kmtb
*.matb
.log
Gemfile.lock
autom4te.cache
stamp-h1
Makefile
*~
config.log
config.status
otama_config_auto.h
GPATH
GRTAGS
GSYMS
GTAGS
src/otama_create_table
src/otama_drop_table
src/otama_import
src/otama_pull
src/nvbovw/nv_bovw_train
src/nvbovw/nv_bovw_benchmark
src/nvlmca/nv_lmca_train
src/tests/otama_test
ruby/data/
examples/rpc/data/
*.kmt
*.kmtb
*.mat
*.matb
