*~
*.trs
*.o
*.lo
*.so
*.db
*.la
.deps
.libs
*.pc
autom4te.cache
stamp-h1
libtool
Makefile
Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
ltmain.sh
config.log
config.status
config.guess
config.sub
config.h
config.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

GPATH
GRTAGS
GSYMS
GTAGS

*.log

Gemfile.lock
otama_config_auto.h
src/otama_create_database
src/otama_create_database.exe
src/otama_drop_database
src/otama_drop_database.exe
src/otama_drop_index
src/otama_drop_index.exe
src/otama_search
src/otama_search.exe
src/otama_vacuum_index
src/otama_vacuum_index.exe
src/otama_import
src/otama_import.exe
src/otama_pull
src/otama_pull.exe
src/nvbovw/nv_bovw_train
src/nvbovw/nv_bovw_train.exe
src/nvbovw/nv_bovw_benchmark
src/nvbovw/nv_bovw_benchmark.exe
src/nvlmcaex/nv_lmca_train
src/nvlmcaex/nv_lmca_train.exe
src/tests/otama_test
src/tests/otama_test.exe
src/tests/data
ruby/data/
examples/rpc/data/
*.kmt
*.kmtb
*.mat
*.matb
*.tar.gz
